@mixin card {
  width: 362px;
  height: 357px;
  border-radius: 5px;
  background: $color;
}

@mixin h4 {
  color:$color;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin h6 {
  color: #8a8787;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
